<div class="home">
    <div class="homeContainer">
        <div class="homeLeft">
            <div class="userAvatar">
                <div class="imgContainer">
                    <img src="/images/avatar.jpg" class="avatar" alt="avatar" width="100">
                </div>

                <p>John Doe</p>
            </div>
            <hr class="hr">
            <div class="info">
                <p>User Information</p>
                <p>Email - mgmg@gmail.com</p>
                <p>TNT - 2007</p>
                <p>BATCH - 10</p>
                <button class="signout">LOGOUT</button>
            </div>
        </div>
        <div class="homeCenter">
            Posts will be appear
        </div>
        <div class="homeRight">Uit info</div>
    </div>        
</div>