<nav class="navContainer">
    <div class="nav">
        <div class="logo">
            <p>UIT</p>
            <div class="logoImg">
                <img src="/images/UIT-Logo-big.png" alt="">
            </div>
        </div>  
        <div class="center">
            <i class="fa-solid fa-house" style="font-size: 25px; cursor: pointer;"></i>
            <i class="fa-solid fa-user" style="font-size: 25px; cursor: pointer;"></i>
            <i class="fa-solid fa-cart-shopping" style="font-size: 25px; cursor: pointer;"></i>
        </div> 
        <div class="right">
            <input type="text" class="search" placeholder="Search...">
            <i class="fa-solid fa-magnifying-glass" style="font-size: 20px;"></i>
        </div>         
    </div>
</nav>